@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Eurofins IT solutions<br />
    Whitefield<br />
    <abbr title="Phone">P:</abbr>
    85231456
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Suppor@eurofins.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>